/*Formatear estilos del navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a { /*Etiquetas globales*/
    text-decoration: none;
    cursor: pointer;
}

/*CONTENEDOR HEADER*/
header {
    width: 100%;
    height: 60px; /*Tamaño del padre*/
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: 250px;
    height: auto; /*tamaño automatico de acuerdo al padre*/
    display: flex; /*Los colocamos en línea*/
    list-style: none; /*Le quitamos los bullets*/
    justify-content: center; /*Justificamos y colocamos los elementos al centro*/
    align-items: center;
    margin-top: 6px;
}
nav .nav-right-section a {
    margin-right: 15px;
    color: #202020;
}
nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /*Que se aproxime al tamaño del contenedor*/
    width: 25px;
    height: 25px;
}
nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 5px;
}

/*CONTENEDOR MAIN*/
main {
    margin-top: 170px;
    text-align: center;
}
main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img {
    width: 300px;
}
main .main-input {
    width: 530px;
    margin: 0 auto; /*posicionar en medio*/
    margin-bottom: 35px;
}
main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none; /*Nos sirve para quitar el borde generado cuando damos click a un input*/
}
main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447; /*Realiza el efecto de sombra en el div*/
    border-color: #dfe1e500;
}
main .main-input .search-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Google_Magnifying_Glass.svg/640px-Google_Magnifying_Glass.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    width: 18px;
    height: 18px;
}
main .main-input .micro-icon {
    background-image: url('https://seeklogo.com/images/G/google-mic-logo-33133A4F5F-seeklogo.com.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    width: 18px;
    height: 18px;
    cursor: pointer;
}
main .main-buttons {
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline-block;
}
main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #292a2b;
    padding: 0 15px; /*0 arriba y abajo 15 derecha e izquierda*/
    margin-right: 15px;
}
main .main-buttons button:hover {
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0 1px 1px rgb(189, 189, 189);
    color: #222;
}

/*CONTENEDOR FOOTER*/
footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left {
    justify-self: left;
}
footer .footer-right {
    justify-self: right;
}
footer ul li a {
    margin: 10px;
    color: #5f6368
}